//* ---------------------------  MEDIA(768px) --------------------------- */
@media(max-width:768px){
    .home {
      .container {
        .row {
          .title {
            font-size: 24px;
          }
        }
      }
    }
    .services {
      .container {
        .row {
          .cardBox {
            width: 100%;
            flex-wrap: wrap;
            .card {
              width: 49%;
            }
          }
        }
      }
    }
    .team {
      .container {
        .row {
          .cardBox {
            width: 100%;
            flex-wrap: wrap;
            .card {
              width: 49%;
            }
          }
        }
      }
    }
      .portfolio {
        .container {
          .row {
            .title {
              font-size: 30px;
            }
            .titleContent {
              font-size: 15px;
            }
            .cardBox {
              gap: 10px;
              .cardRow {
                .card {
                  img{
                    max-width: 300px;
                  }
                }
              }
            }
          }
        }
      }
      .about {
        .container {
          .row {
            .title {
              font-size: 30px;
            }
            .titleContent {
              font-size: 15px;
            }
            .cardBox {
              gap:40px;
              .cardRow {
                .card {
                  img {
                    width: 55px;
                    height: 55px;
                    margin-right: 30px;
                  }
                  .cardContent {
                    p {
                      font-size: 10px;
                    }
                    .userName {
                      font-size: 15px;
                    }
                    span {
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .contact {
        .container {
          .row {
            .title {
              font-size: 30px;
            }
            .contactInfo {
              .titleContent {
                font-size: 12px;
              }
            }
            .form {
              .formInp {
                width: 125%;
                input {
                  height: 56px;
                  font-size: 15px;
                }
              }
              .textBox {
                width: 660px;
                height: 200px;
                textarea{
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
  }  